<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <div class="navbar-title">
    <%= link_to :back, class: "navbar-brand" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h2 class="navbar-brand">Pharmacies Nearby</h2>
  </div>
    <div class = "logo">
      <%= image_tag("New-logo.svg") %>
    </div>
  </div>
</div>


<div style='width: 100%; height: 740px;'
  id='map'
  data-controller='map'
  data-map-api-key-value='<%= ENV['MAPBOX_API_KEY'] %>'
  data-map-markers-value='<%= @markers.to_json %>'></div>
