<p style="color: green"><%= notice %></p>

<h1>Medicines</h1>

<div id="medicines">
  <% @medicines.each do |medicine| %>
    <%= render medicine %>
    <p>
      <%= link_to "Show this medicine", medicine %>
    </p>
  <% end %>
</div>

<%= link_to "New medicine", new_medicine_path %>
