.information-image {
  overflow: hidden;

  img {
    max-width: 100%;
    position: relative;
    top: 4rem;
  }
}

.not-supported {
  position: relative;
  top: 2rem;
  text-align: center;
  img {
    max-width: 20%;
  }
  p {
    margin: 0;
  }
  .not-supported-word {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #6750A4;
  }
}

.information-instructions {
  position: relative;
  top: 4rem;
  text-align: center;
  background-color: #6750A4;
  color: white;
  padding: 1rem;
  text-align: center;
  p {
    margin: 0;
  }
}
