/* Your medicines for today */
.today-medicine-msg {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  /* identical to box height, or 117% */

  color: #000000;
  .today-text {
   color: #FAB91F;
  }
}

a.no-link-decoration {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}
.reminder-heading {
  font-weight: 600;
}

.format-padding{
  padding-left:10px;
}
.border-color{
  border-color:#6f42c1;
}
.time-container.hide, .show-next-time-btn.hide {
  display: none;
}
.no-reminder-msg {
  padding: 0.2rem 1.2rem;
}

#add-time {
  padding-right: 208px !important;
}
