/* Your medicines for today */
.today-medicine-msg {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  /* identical to box height, or 117% */

  color: #000000;
  .today-text {
   color: #FAB91F;
  }
}

a.no-link-decoration {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.reminder-overall {
  background: #384047;
  font-family: sans-serif;
  min-height: 840px;
  padding-top: 2rem;
  padding-bottom: min(2rem);
  display: flex;
  justify-content: center;
  .reminder-content {
    background-color: #fff;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    width: 380px;
    height: fit-content;
  }

  .text-muted {
    color: #6c757d !important;
    margin-bottom: 0;
    font-size: 14px;
  }
  .text-content {
    color: #6750A4;
    font-weight: bold;
    font-size: 18px;
  }
  .reminder-program {
    padding: 0 1.5rem;
    .text-title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 0;
    }
    .text-time {
      margin-bottom: 1rem;
      color: #6c757d !important;
      font-size: 16px;
    }
  }

  .reminder-link {
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    .btn {
      width: 100%;
      height: 44px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      border: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .btn-delete {
      background-color: #bdb2d6;
      &:hover {
        background-color: #b3a9c9;
      }
    }
  }

}

.reminder-medicine {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reminder-heading {
  max-width: 180px;
}

.format-padding{
  padding-left:10px;
}
.border-color{
  border-color:#6f42c1;
}
.time-container.hide, .show-next-time-btn.hide {
  display: none;
}
.no-reminder-msg {
  padding: 0.2rem 1.2rem;
}

#add-time {
  white-space: nowrap;

}
