<%= provide :title, "Reminders" %>

<div class="text-center mt-3">
  <p class="today-medicine-msg"><span class="today-text">All</span> medicine Reminders</p>
</div>

<div class="list-container">
  <%# @reminders.sort_by_latest.sort{|s| s.next_due_timestamp}.reverse.each do |reminder| %>
    <%# <%= render partial: "shared/card-list-reminder", locals: {reminder: reminder} %>
    <br/>
  <%# end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" >
      <div class="formated-form">
        <%= render "form", reminder: @reminder %>
      </div>
</div>
