<div class="text-center mt-3">
  <p class="today-medicine-msg">Your medicines for <span class="today-text">today</span></p>
</div>

<div class="list-container">
  <% @reminders.sort_by_latest.sort{|s| s.next_due_timestamp}.reverse.each do |reminder| %>
    <%# <%= render partial: "shared/card-list-reminder", locals: {reminder: reminder} %>
    <br/>
  <% end %>
</div>
