<%= provide :title, "Reminders" %>

<div class="text-center mt-3">
  <p class="today-medicine-msg"><span class="today-text">All</span></p>
<% if @active_reminders.length == 0 %><p>No reminders</p><br/><br/><br/><% end %>
</div>
<div class="list-container">
  <% @active_reminders.each do |reminder| %>
    <%= render partial: "shared/card-list-reminder", locals: {reminder: reminder} %>
    <br/>
  <% end %>
</div>
<% if @completed_reminders.length > 0 %>
<div class="text-center mt-3">
  <p class="today-medicine-msg"><span class="today-text">Completed</span></p>
  <% if @completed_reminders.length == 0 %><p>No reminders</p><% end %>

</div>
<div class="list-container">
  <% @completed_reminders.each do |reminder| %>
    <%= render partial: "shared/card-list-reminder", locals: {reminder: reminder} %>
    <br/>
  <% end %>
</div>
<% end %>
