<div class="card" style="max-width: 330px;">
  <div class="row g-0">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">Expired Panadol</h5>
        <p class="card-text">Johor Bahru, Malaysia</p>
      </div>
    </div>
    <div class="col-sm-4" style="max-width: 80px;">
      <img src="https://gphb01pdazurefileshare.blob.core.windows.net/sys-master-hybris-media/h90/h03/16431885418526/601435-leftose-tablets-30-tablets-1-800Wx800H" class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>
