<div class="ka">
  <div class="ka-left">
    <h5>Expired Panadol</h5>
    <p>Johor Bahru, Malaysia</p>
  </div>

  <div class="ka-right">
    <img src="https://gphb01pdazurefileshare.blob.core.windows.net/sys-master-hybris-media/h90/h03/16431885418526/601435-leftose-tablets-30-tablets-1-800Wx800H" alt="..." style="height: 80px; border-radius: 0 12px 12px 0;">
  </div>
</div>
