<div class="ka reminders">
  <div class="ka-left">
    <p><small><%= reminder.next_due_timestamp&.strftime("%I:%M %p") %></small></p>
    <h5><%= link_to "#{reminder.medicine.name} in #{distance_of_time_in_words(Time.current, reminder.next_due_timestamp)}", reminder, class: "no-link-decoration" if reminder.next_due_timestamp.present?%> </h5>
    <p><small><%= reminder.description %></small></p>
  </div>

  <div class="ka-right">
    <img src="https://gphb01pdazurefileshare.blob.core.windows.net/sys-master-hybris-media/h90/h03/16431885418526/601435-leftose-tablets-30-tablets-1-800Wx800H" alt="..." style="height: 80px; border-radius: 0 12px 12px 0;">
  </div>
</div>
