<% if !current_page?(root_path) %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid p-0">
      <%= render "shared/topbar" %>
      <h2>MedSave</h2>
    </div>
  </div>
<% end %>
