<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to :back, class: "navbar-brand" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
</div>
