<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/1000x1000);">
  <div class="container">
    <h1>Worry less.</h1>
    <h1>Live healthier.</h1>
    <p>Welcome to Medsafe</p>
    <%= render "shared/btn-primary" %>
  </div>
</div>

<%= render "shared/btmbar" %>
<br>
<br>
<%= render "shared/card-list-reminder" %>
<br>
<%= render "shared/card-list" %>
<br>
<br>
<br>
