<div class="container information">
  <div class="information-image">
    <%= image_tag("scan-instructions.png") %>
  </div>

  <div class="not-supported">
    <%= image_tag("Not-Supported.png") %>
    <p>Your product is</p>
    <p class="not-supported-word">Not Supported by MedSafe</p>
  </div>

  <div class="information-instructions">
    <p>Please note that only the QR code on the product packaging can be verified.</p>
  </div>
</div>
