<h1>Scanning Page</h1>

<head>
  <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@5.x"></script>
</head>

<div class="container" data-controller="scanning">
  <div id="scandit-barcode-picker" data-scandit-id="<%= ENV["SCANDIT"] %>" class="scanner"></div>
  <div id="scandit-barcode-result" class="result-text"></div>

  <button id="start-scanner-button" style="display: none">
    Start and show BarcodePicker
  </button>

  <%= form_for :medicine, url: medicine_path do |f| %>
      <%= f.text_field :data %>
      <%= f.submit "Search!" %>
  <% end %>
</div>
