<h1>Scanning Page</h1>

<div id="scandit-barcode-picker" class="scanner"></div>
<div id="scandit-barcode-result" class="result-text"></div>

<button id="start-scanner-button" style="display: none">
  Start and show BarcodePicker
</button>
