.btmnav {
  border-top: 1px solid #6750A4;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.btmnav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  padding: 6px 20px;
  margin: 0;
  align-items: center;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #6750A4;
  &:hover {
    background-color: #4c358b;
  }

  .fa-qrcode {
    color: white;
  }
}

.fa-ellipsis {
  color: #6750A4;
}

.fa-gray {
  color: lightgrey;
}
