.ka {
  border-radius: 12px;
  background: #F3EDF7;
  border: 1px solid #FFFBFE;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 330px;
  margin: auto;

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .ka-left {
    padding: 1rem;
  }
}

.ka.reminder {
  border-radius: 12px;
  background:  #6750A4;
  border-width: 1px 0px;
  border-color: #5d42a7;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 330px;
  margin: auto;
  color: white;

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .ka-left {
    padding: 1rem;
  }
}

.list-container {
  margin-top: 10px;
  p {
    margin-bottom: 0px;
  }
  .list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.2rem;
    a {
      text-decoration: none !important;
    }
  }
  .list-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;

  }
}
