.ka {
  border-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 330px;
  margin: auto;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 4px 8px 2px rgba(0, 0, 0, 0.20);
  }

  .ka-left {
    padding: 1rem;
    width: 200px;
  }

  .ka-right {
    background-color: white;
    border-radius: 0 12px 12px 0;
    img {
    border-radius: 0 12px 12px 0;
  }
  }
}

.reminders {
  background:  #6750A4;
  border-width: 1px 0px;
  border-color: #5d42a7;
  color: white;
  h5 {
    margin: 0;
    white-space: nowrap;
  }

  p {
    margin: 0;
    white-space: nowrap;
  }
}

.alerts {
  background: #F3EDF7;
  border: 1px solid #FFFBFE;
  h5 {
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
  }

  p {
    margin: 0;
    white-space: nowrap;
  }
}

.list-container {
  margin-top: 10px;
  p {
    margin-bottom: 0px;
  }
  .list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.2rem;
    a {
      text-decoration: none !important;
    }
  }
  .list-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    a {
      text-decoration: none;
    }

  }
}
