.ka {
  border-radius: 12px;
  background: #D8E2FF;
  border: 1px solid #D8E2FF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 330px;
  margin: auto;

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .ka-left {
    padding: 1rem;
  }
}
