.formated-form {
  $button: #6750A4;
  background: #384047;
  font-family: sans-serif;
  font-size: 10px;
  height: 840px;
  form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 380px;
    margin: 0px auto;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    .shared-links {
      a {
        font-size: 12px;
        text-decoration: none;
      }
    }
    .link {
      display: flex;
      align-items: center;
      p {
        margin-bottom: 0;
        margin-right: 5px;
        font-size: 12px;
      }
      a {
        font-size: 12px;
        text-decoration: none;
      }
    }
    h2 {
      margin:0 0 50px 0;
      padding:10px;
      text-align:center;
      font-size:30px;
      color:darken(#e5e5e5, 50%);
      border-bottom:solid 1px #e5e5e5;
    }

    h4 {
      white-space: nowrap;
      margin:0 0 2rem 0;
      padding:10px 0;
      text-align:center;
      color:darken(#e5e5e5, 50%);
      border-bottom:solid 1px #e5e5e5;
    }
    .checkbox {
      position: relative;
      .form-check {
        padding: 0, 10px;
        margin: 0;
      }
      .form-check-input {
        width: 16px;
        height: 16px;
      }
      .check-label {
        position: absolute;
        top: 0;
        left: 20px;
        padding: 0;
        font-size: 12px;
      }
    }

     input {
       display: block;
       box-sizing: border-box;
       width: 100%;
       outline: none;
       margin:0;
       height: 50px;
     }
    // input[type="text"],
    // input[type="password"] {
    //   background: #fff;
    //   border: 1px solid #dbdbdb;
    //   font-size: 1.6em;
    //   padding: .8em .5em;
    //   border-radius: 2px;
    // }
    // input[type="text"]:focus,
    // input[type="password"]:focus {
    //   background: #fff
    // }
    // span {
    //   display:block;
    //   background: #F9A5A5;
    //   padding: 2px 5px;
    //   color: #666;
    // }
     input[type="submit"] {
       background: $button;
       box-shadow: 0 3px 0 0 darken($button, 10%);
       border-radius: 2px;
       border: none;
       color: #fff;
       cursor: pointer;
       display: block;
       font-size: 2em;
       line-height: 1.6em;
       margin: 2em 0 0;
       outline: none;
     }
     input[type="submit"]:hover {
       background: #5d43a5;
       color: white;
     }

    // label{
    //   position: absolute;
    //   left: 8px;
    //   top: 12px;
    //   color: #999;
    //   font-size: 16px;
    //   display: inline-block;
    //   padding: 0px 10px;
    //   font-weight: 400;
    //   background-color: rgba(255,255,255,0);
    //   @include transition(color .3s, top .3s, background-color .8s);
    //   &.form-label{
    //     top: -11px;
    //     background-color: rgba(255,255,255,1);
    //     font-size: 14px;
    //     height: 15px;
    //     margin-bottom: 0;
    //     padding: 0;
    //   }
    // }

    label {
      color: #999;
      font-size: 16px;
      font-weight: 400;

    }

  }
}

.login {
  padding-top: 4rem;
}

.other-form {
  padding-top: 5px;
}
