.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  h5 {
    margin-top: 5px;
  }
  p {
    margin-bottom: 0;
  }
  .mapboxgl-popup-close-button {
    height: 20px;
  }
}

.mapboxgl-ctrl-bottom-left {
  z-index: 0 !important;
}
.mapboxgl-ctrl-bottom-right {
  z-index: 0 !important;
}
