.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0.25rem 0;
  overflow-y:hidden;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h2 {
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

// .logo {
//   padding: 0;
// }

.navbar-nav .dropdown-menu {
  position: absolute;
  float: none;
}

.navbar-title {
  padding: 0;
  display: flex;
  align-items: center;
  h2 {
    font-weight: bold;
  }
}

.logo {
  img {
    max-width: 6rem;
    max-height: 3rem;
  }
}
