<%= provide :title, "Alerts" %>

<div class="list-container">
  <div class="list-title">

  </div>
  <% if !@reports.nil? %>
    <div class="list-cards">
      <% @reports.each do |report| %>
        <% @report = report %>
        <%= render "shared/card-list", object: @report %>
      <% end %>
    </div>
  <% end %>
</div>
