<%= provide :title, "Alerts" %>


<div class="list-container">
  <div class="searchbar bar-container">
    <form>
      <input type="search" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
  </div>

  <% if !@reports.nil? %>
    <div class="list-cards">
      <% @reports.each do |report| %>
        <% @report = report %>
        <%= render "shared/card-list", object: @report %>
      <% end %>
    </div>
  <% end %>
</div>
